@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', "Century Gothic", CenturyGothic, sans-serif;
    font-weight: bold;
    margin: 0em;
    padding: 0em;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background: url('../img/recherche/marguerite.png');

}


/*Première barre*/
header
{
 background-color: white;
}
.logo
{
    height:70px;
    width: 70px;
    float:left;
}

.titre
{
    color: #F8D862 ;
    font-size:50px;
    margin: 0em 0em 0em 8.9%;
    padding: 0px 0em 10px 0em;

}

.home, .panier
{
    position:relative;
    float: right;
    height: 40px;
    top: -3.6em;
    padding-right: 2em;
}


input {
    position: relative;
    float: right;
    border-style: none none solid none;
    border-width: 1px;
    border-color: lightgrey;
    background-color: rgba(238,243,243, 0.4);
    border-radius: 2px 2px;
    top: -3.6em;
    margin-right: 2em;
    padding:0.5em;
    line-height: 1em;
    vertical-align: center;
}

.loupe
{
    width: 1.5em;
    height: 1.5em;  
}

button
{
    width: 2em;
    height: 2em;
    position: relative;
    float: right;
    top: -3.4em;
    /*background-color: white;*/
    border-style: none;
}

/* Menu de navigation déroulant */

nav{
    width: 100%;
    background-color: burlywood;
    position: sticky;
    top: -8em;
}

nav ul
{
    display: flex; /*Permet aux éléments de la barre d'être alignés*/
    position: sticky;
    list-style-type: none;
}

nav ul li{
    width: 100%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px; /*Donne la largeur à la barre de nav*/
}

nav a:hover{
    background-color: #F8D862;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #F8D862;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: #EAC849;
}





/* liste de produits */
.chemin 
{
    padding-bottom: 0.3em;
    color: #231f20;
}

.rechercher
{
    color: #231f20;
    display: inline;
}


.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 2em;
}

.box :first-child {
    align-self: center;
}

.ourson /*écriture*/
{
    color: #616161;
    display: inline;
}

.resultats {
    background-color:white;
    margin: 2em 9em 0em;
    padding-left: 1em;
    height: 3.5em;
    border-radius: 10px 10px;
}

.ours_img
{
    width: 20em;
    height: auto;
    background-color: white;
    border-radius: 10px 10px;
    margin: 3em 3em 3em;
    border: dashed #F8D862 ;
}


.details {
    background-color: white;
    margin: -3em 3em 0em;
    width: 20em;
    border-radius: 10px 10px;
    text-align: center;
}

.acheter_ours
{
    background-color: #F8D862  ;
    color: white;
    font-size: 1.5em;
   
    
}

.acheter_ours a {
     text-decoration: none;
     color:white;

}