@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', "Century Gothic", CenturyGothic, sans-serif;
	font-weight: bold;
    margin: 0em;
    padding: 0em;
}

/* responsive */
@media screen and (max-width: 1024px)
{

.message {
    color: white;
    padding-top: 50em;
    font-size: 0.1px;
}

.promotions 
{ 
    background: url('../img/motifs4.jpg');
    border: 1em rgb(235, 221, 175);
    margin-bottom: 0.1em;
    background-color: rgb(70, 7, 5);
    border-radius: 10em;
    box-shadow: 0.2em 0.5em rgba(187, 179, 166, 0.5);
    text-decoration: none;
}

B {
    color: rgb(199, 99, 6);
    padding: 0.5em 1em 0.1em 3em;
    border-bottom : 0em dotted lightgrey;
    text-decoration: none;
    font-size: 0.1em;
}

/*Première barre*/
.logo
{
    height:4.375em;
    width: 4.375em;
    float:left;
}

.titre
{
    color: #F8D862 ;
    font-size:3.125em;
    margin: 0em 0em 0em 8.9%;
    padding: 0px 0em 10px 0em;

}

.home, .panier
{
    position:relative;
    float: right;
    height: 2.5em;
    top: -3.6em;
    padding-right: 2em;
}


input {
    position: relative;
    float: right;
    border-style: none none solid none;
    border-width: 1px;
    border-color: lightgrey;
    background-color: rgba(238,243,243, 0.4);
    border-radius: 2px 2px;
    top: -3.6em;
    margin-right: 2em;
    padding:0.5em;
    line-height: 1em;
    vertical-align: center;
    width: 8em;
}

.loupe
{
    width: 1.5em;
    height: 1.5em;  
}

button
{
    width: 2em;
    height: 2em;
    position: relative;
    float: right;
    top: -3.4em;
    background-color: white;
    border-style: none;
}

/* Menu de navigation déroulant */

nav{
    width: 100%;
    background-color: burlywood;
    position: sticky;
    top: 0em;
}

nav ul
{
    display: flex; /*Permet aux éléments de la barre d'être alignés*/
    position: sticky;
    list-style-type: none;
}

nav ul li{
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 0.7em;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 0.625em 0em; /*Donne la largeur à la barre de nav*/
}

nav a:hover{
    background-color: #F8D862;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #F8D862;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: #EAC849;
}

/* Services */

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.delivery-icon {
    font-size: 50px;
    color: #ADD981;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}


/* Meilleures ventes */

.section-title {
    font-size: 50px;
    font-family: 'Abril-FatFace', cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.bests-items {
    margin: 100px;
}

.best-sells {
    background-color: red;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.sells-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.pyjama {
    background-image: url(../img/pyjama.jpg);
}

.poussette {
    background-image: url(../img/poussette.jpg);
}

.produits {
    background-image: url(../img/produits.jpg);
}

.biberon {
    background-image: url(../img/biberon.jpg);
}

.details {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}

.name {
    font-size: 22px;
    font-weight: 600;
    line-height: 15px;
}

.price {
    color:  #ADD981;
    line-height: 40px;
    font-size: 16px;
    font-weight: 800;
}


/* Nos produits */

.all-produits {
    margin:100px;
}

.produits-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat (4, 400px);
}

.produits-grid1 {
    background-image: url(../img/prod1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}

.produits-grid2 {
    background-image: url(../img/prod2.jpg);
    grid-column: 3/5;
}

.produits-grid3 {
    background-image: url(../img/prod3.jpg);
    grid-column: 3/5;
}

.produits-grid4 {
    background-image: url(../img/prod4.jpg);
    grid-column: 1;
    grid-row: 3/5;
}

.produits-grid5 {
    background-image: url(../img/prod5.jpg);
    grid-column: 2/4;
    grid-row: 3/5;
}

.produits-grid6 {
    background-image: url(../img/prod6.jpg);
    grid-column: 4;
    grid-row: 3/5;
}

/* Pied de page */


footer {
    margin: 2em 6.2em 0em;
    height: 10em;
    background-color: #AF8D62;
}


.fin
{
    list-style-type: none;
    color: white;
    padding: 1em;
    position: relative;
    bottom: 0em;


}

.qui
{
    color: white;
    text-decoration: none;
}

.titre_liste
{
    font-size: 2em;
    color: #634C2E;
    font-weight: 600;
}


.fini
{
    display: flex;
}

footer li {
    padding-bottom: 0.5em;
}

.pied
{
    height: 2em;
    background-color: #F8D862;
    display: flex;
    justify-content: space-between;

}

.copyright, .cgv {
    color: #634C2E;
    padding: 1em;
    text-decoration: none;
    position: relative;
    bottom: 0.5em;

}

            }
/*Fin responsive*/










@media screen and (max-width: 900px)
{

.message {
    color: white;
    padding-top: 50em;
    font-size: 0em;
    height: 1em;
}

.promotions 
{ 
    background: url('../img/motifs4.jpg');
    border: 1em rgb(235, 221, 175);
    margin-bottom: 0.1em;
    background-color: rgb(70, 7, 5);
    border-radius: 10em;
    box-shadow: 0.2em 0.5em rgba(187, 179, 166, 0.5);
    text-decoration: none;
}

B {
    color: rgb(199, 99, 6);
    padding: 0.5em 1em 0.1em 10em;
    border-bottom : 0em dotted lightgrey;
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
}

/*Première barre*/
.logo
{
    height:2em;
    width: 2em;
    float:left;
}

.titre
{
    color: #F8D862 ;
    font-size:1em;
    margin: 0em 0em 0em 8.9%;
    padding: 0px 0em 10px 0em;

}

.home, .panier
{
    position:relative;
    float: right;
    height: 2.5em;
    top: -3.6em;
    padding-right: 2em;
}


input {
    position: relative;
    float: right;
    border-style: none none solid none;
    border-width: 1px;
    border-color: lightgrey;
    background-color: rgba(238,243,243, 0.4);
    border-radius: 2px 2px;
    top: -3.6em;
    margin-right: 2em;
    padding:0.5em;
    line-height: 1em;
    vertical-align: center;
    width: 8em;
}

.loupe
{
    width: 1.5em;
    height: 1.5em;  
}

button
{
    width: 2em;
    height: 2em;
    position: relative;
    float: right;
    top: -3.4em;
    background-color: white;
    border-style: none;
}

/* Menu de navigation déroulant */

nav{
    width: 100%;
    background-color: burlywood;
    position: sticky;
    top: 0em;
}

nav ul
{
    display: flex; /*Permet aux éléments de la barre d'être alignés*/
    position: sticky;
    list-style-type: none;
}

nav ul li{
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 0.6em;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 0.625em 0em; /*Donne la largeur à la barre de nav*/
}

nav a:hover{
    background-color: #F8D862;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #F8D862;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: #EAC849;
}

section {
    max-width: 100%;
}

            }
/*Fin responsive2*/













html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;

}

/* Tête de page */



section.top-page {
    background: url('../img/coton.jpg');
    background-size: cover;
    height: 80vh;
}

/* Page de bienvenue (landing page */

.landing-page {
    padding: 20em 50em;
}

.big-title {
    color: burlywood;
    font-size: 60em;
    font-family: 'Abril FatFace', cursive;
    font-weight: 2000;
}

.message {
    color: white;
    padding-top: 50em;
    font-size: 1.5em;
}

.promotions 
{ 
    background: url('../img/motifs4.jpg');
    border: 1em rgb(235, 221, 175);
    margin-bottom: 0.1em;
    background-color: rgb(70, 7, 5);
    border-radius: 10em;
    box-shadow: 0.2em 0.5em rgba(187, 179, 166, 0.5);
    text-decoration: none;
}

B {
    font-size:1.5em;
    color: rgb(199, 99, 6);
    padding: 0.5em 1em 0.1em 3em;
    border-bottom : 0em dotted lightgrey;
    text-decoration: none;
}

/*Première barre*/
header
{
    background-color:white;
}
.logo
{
    height:4.375em;
    width: 4.375em;
    float:left;
}

.titre
{
    color: #F8D862 ;
    font-size:3.125em;
    margin: 0em 0em 0em 8.9%;
    padding: 0px 0em 10px 0em;

}

.home, .panier
{
    position:relative;
    float: right;
    height: 2.5em;
    top: -3.6em;
    padding-right: 2em;
}


input {
    position: relative;
    float: right;
    border-style: none none solid none;
    border-width: 1px;
    border-color: lightgrey;
    background-color: rgba(238,243,243, 0.4);
    border-radius: 2px 2px;
    top: -3.6em;
    margin-right: 2em;
    padding:0.5em;
    line-height: 1em;
    vertical-align: center;
}

.loupe
{
    width: 1.5em;
    height: 1.5em;  
}

button
{
    width: 2em;
    height: 2em;
    position: relative;
    float: right;
    top: -3.4em;
    background-color: white;
    border-style: none;
}

/* Menu de navigation déroulant */

nav{
    width: 100%;
    background-color: burlywood;
    position: sticky;
    top: 0em;
}

nav ul
{
    display: flex; /*Permet aux éléments de la barre d'être alignés*/
    position: sticky;
    list-style-type: none;
}

nav ul li{
    width: 100%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 0.625em 0em; /*Donne la largeur à la barre de nav*/
}

nav a:hover{
    background-color: #F8D862;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #F8D862;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: #EAC849;
}

/* Services */

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.delivery-icon {
    font-size: 50px;
    color: #ADD981;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}


/* Meilleures ventes */

.section-title {
    font-size: 50px;
    font-family: 'Abril-FatFace', cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.bests-items {
    margin: 100px;
}

.best-sells {
    background-color: red;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.sells-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.pyjama {
    background-image: url(../img/pyjama.jpg);
}

.poussette {
    background-image: url(../img/poussette.jpg);
}

.produits {
    background-image: url(../img/produits.jpg);
}

.biberon {
    background-image: url(../img/biberon.jpg);
}

.details {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}

.name {
    font-size: 22px;
    font-weight: 600;
    line-height: 15px;
}

.price {
    color:  #ADD981;
    line-height: 40px;
    font-size: 16px;
    font-weight: 800;
}


/* Nos produits */

.all-produits {
    margin:100px;
}

.produits-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat (4, 400px);
}

.produits-grid1 {
    background-image: url(../img/prod1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}

.produits-grid2 {
    background-image: url(../img/prod2.jpg);
    grid-column: 3/5;
}

.produits-grid3 {
    background-image: url(../img/prod3.jpg);
    grid-column: 3/5;
}

.produits-grid4 {
    background-image: url(../img/prod4.jpg);
    grid-column: 1;
    grid-row: 3/5;
}

.produits-grid5 {
    background-image: url(../img/prod5.jpg);
    grid-column: 2/4;
    grid-row: 3/5;
}

.produits-grid6 {
    background-image: url(../img/prod6.jpg);
    grid-column: 4;
    grid-row: 3/5;
}

/* Pied de page */


footer {
    margin: 2em 6.2em 0em;
    height: 10em;
    background-color: #AF8D62;
}


.fin
{
    list-style-type: none;
    color: white;
    padding: 1em;
    position: relative;
    bottom: 0em;


}

.qui
{
    color: white;
    text-decoration: none;
}
.titre_liste
{
    font-size: 2em;
    color: #634C2E;
    font-weight: 600;
}


.fini
{
    display: flex;
}

footer li {
    padding-bottom: 0.5em;
}

.pied
{
    height: 2em;
    background-color: #F8D862;
    display: flex;
    justify-content: space-between;

}

.copyright, .cgv {
    color: #634C2E;
    padding: 1em;
    text-decoration: none;
    position: relative;
    bottom: 0.5em;

}

footer a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
}









